.div_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 30px 30px;
  gap: 20px;
  width: 1000px;
}

.cardsCarrinho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  .paddingLeft{margin-left: 15px;}
  
  .card_img_div{
  height: 154px;
  width: 296px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  justify-content: center;
  }
  
  
  .card{
    box-shadow: 0px 0px 10px 1px rgb(237, 232, 232);
  }
  
  .card:hover{
    border: 0.8px solid #37268c;
  }
  
  .card_img{margin-right: 30px;}
  
  .card_nome{font-size: 18px; font-weight: 700; margin: 10px 0px 10px 15px;}
  
  .card_descricao{font-weight: 400;
    line-height: 24px;
    width: 269px;
    height: 72px;
  }
  
  .card_btn{margin-top: 10px; padding: 4px; font-size: 12px; width: 67px; background-color: #2E245E; color: white; border: none; border-radius: 2px;}
  
  
  .card_valor{font-weight: 600; margin: 17px 15px; color:#2E245E}
  
  .card_link{font-weight: 500; margin-bottom: 10px;}
  
  .card_link:hover{
    cursor: pointer;
  }
  