body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 14px;
}

li{
  list-style-type: none;
}
button:hover{
  cursor: pointer;
  }




.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 10px 1px grey
}

.header_div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 107px 20px 25px;

}

.header_div p{
  margin: 10px;
  font-size: 16px;
}
.header_div p:hover{
  cursor: pointer;

}

.header_titulo{
  margin-left: 117px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.cardsCarrinho{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.paddingLeft{margin-left: 15px;}

.card_img_div{
height: 154px;
width: 296px;
background-color: rgb(237, 232, 232);
display: flex;
justify-content: center;
}

.div_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 26px;
  width: 1000px;
}

.card{
  margin:10px;
  box-shadow: 0px 0px 10px 1px rgb(237, 232, 232);
}

.card_img{margin-right: 30px;}

.card_nome{font-size: 18px; font-weight: 700; margin: 10px 0px 10px 15px;}

.card_descricao{font-weight: 400;
  line-height: 24px;
  width: 269px;
  height: 72px;
}

.card_btn{margin-top: 10px; padding: 4px; font-size: 12px; width: 67px; background-color: rgb(85, 47, 200); color: white; border: none; border-radius: 2px;}

.card_valor{font-weight: 600; margin: 17px 15px}

.card_link{font-weight: 500; margin-bottom: 10px;}

.card_link:hover{
  cursor: pointer;
}



.carrinho{
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px 10px;
}

.carrinho_inpBut{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.carrinho_inpBtn_inp{
height: 50px;
width: 246px;
background-color:rgba(245, 245, 245, 1);
border: none;
margin-right: 5px;
}

.carrinho_inpBtn_btn{
  margin-left: 0px;
  height: 49px;
  width: 96px;
  background-color: rgba(55, 38, 140, 1);
  color:white ;
  border: none;
}

.carrinho_cesta{
  display: flex;
  flex-direction: column;
  width: 347px;

}

.carrinho_cesta_btn{
width: 100%;
height: 49px;
background-color:rgba(55, 38, 140, 1); 
color: white;
font-weight: 500;
border: none;
}

.carrinho_cesta_div{
  width: 100%;
  height: 214px;
  background-color: rgba(245, 245, 245, 1);
  border: none;
}


/*
carrinho
carrinho_inpBut
carrinho_inpBtn_inp
carrinho_inpBtn_btn
carrinho_cesta
carrinho_cesta_btn
carrinho_cesta_div

*/